In [1]:
import sys
import os
current_dir = os.getcwd()  
project_root = os.path.dirname(current_dir)  
sys.path.insert(0, project_root) 
from pathlib import Path
import warnings
import pandas as pd
from pycaret.regression import *
from src.config.config import Config
from src.data.data_loader import DataLoader
from src.models.model_evaluator import ModelEvaluator

def train_models(train: pd.DataFrame,val: pd.DataFrame,target_column: str):
    """训练模型流程
    Args:
        data_path: 可选的数据文件路径
    """
    model_evaluator.setup_experiment(
        train_size=Config.MODEL_CONFIG['train_size'],
        train_data=train,
        val_data = val,
        target_column = target_column,
        categorical_features = Config.FEATURE_CONFIG['categorical_columns']
    )

    # 训练模型并返回最佳模型字典
    return model_evaluator.train_top_models(n_models=Config.MODEL_CONFIG['n_top_models'])

def tune(models: dict):
    """模型调优和集成"""
    # 对top模型进行调优
    tuned_models = model_evaluator.tune_models(models)

    return tuned_models

def ensemble(models: dict):
    """模型集成"""
    # 对top模型进行集成
    blended_model = model_evaluator.ensemble_models(models)

    return blended_model    
    # 模型
    
def save_models(models: dict):

    model_evaluator.saved_models(models)

In [2]:
# 示例用法
df = pd.read_csv(Path(Config.PATH_CONFIG['features_dir'])  / 'training_data.csv')
data_loader = DataLoader()
model_evaluator = ModelEvaluator()

# 划分数据集
train_data, val_data, country_test_data = data_loader.split_data_by_countries(
    df,
    train_size=Config.DATA_CONFIG['country_train_size'],
    val_size=Config.DATA_CONFIG['country_val_size'],
    random_state=Config.DATA_CONFIG['random_state']
)

train_data, time_test_data = data_loader.split_data_by_time(train_data,
    test_size=Config.DATA_CONFIG['time_test_size'])

# 数据分析
print('\n训练集统计信息:')
data_loader.analyze_datasets(train_data)
print('\n验证集统计信息:')
data_loader.analyze_datasets(val_data)
print('\n外部国家测试集统计信息:')
data_loader.analyze_datasets(country_test_data)
print('\n外部时间测试集统计信息:')
data_loader.analyze_datasets(time_test_data)
#合并验证集和外部国家测试集作为测试集
test_data = pd.concat([val_data, country_test_data])
print('\n合并，作为测试集统计信息:')
data_loader.analyze_datasets(test_data)

训练集统计信息:
总数据条数: 1399
国家总数: 57
包含的国家: Albania, Argentina, Austria, Bangladesh, Belgium, Bosnia and Herzegovina, Brazil, Bulgaria, Canada, China, Colombia, Congo, Dem. Rep., Croatia, Cyprus, Czechia, Denmark, Estonia, Ethiopia, Greece, Hungary, Iceland, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Italy, Japan, Korea, Rep., Latvia, Lithuania, Luxembourg, Malaysia, Malta, Mexico, Montenegro, Morocco, Netherlands, Nigeria, North Macedonia, Norway, Peru, Philippines, Poland, Romania, Russian Federation, Saudi Arabia, Serbia, Slovak Republic, Slovenia, South Africa, Spain, Sweden, Switzerland, Tanzania, Turkiye, Uganda, United Kingdom

特征数量: 21
特征列表: MSW, MSW_log, development_stage, gdp_10y_ma, gdp_5y_ma, gdp_acceleration, gdp_growth_rate, gdp_per_capita_growth, gdp_per_capita_ma, gdp_per_capita_power, gdp_pop_interaction, gdp_pop_nonlinear, gdp_trend, pop_density_trend, pop_growth_rate, pop_trend, similar_countries_gdp_growth, stage_avg_gdp_growth, year_trend, year_trend_log, year_trend_squared

年份分布: 1990:30 | 1991:30 | 1992:30 | 1993:30 | 1994:30 | 1995:51 | 1996:51 | 1997:52 | 1998:51 | 1999:51 | 2000:52 | 2001:51 | 2002:51 | 2003:51 | 2004:52 | 2005:52 | 2006:53 | 2007:53 | 2008:55 | 2009:55 | 2010:54 | 2011:56 | 2012:56 | 2013:56 | 2014:57 | 2015:56 | 2016:56 | 2017:33 | 2018:30 | 2019:6 | 2020:5 | 2021:3

验证集统计信息:
总数据条数: 185
国家总数: 6
包含的国家: Egypt, Arab Rep., Finland, France, India, Thailand, Ukraine

特征数量: 21
特征列表: MSW, MSW_log, development_stage, gdp_10y_ma, gdp_5y_ma, gdp_acceleration, gdp_growth_rate, gdp_per_capita_growth, gdp_per_capita_ma, gdp_per_capita_power, gdp_pop_interaction, gdp_pop_nonlinear, gdp_trend, pop_density_trend, pop_growth_rate, pop_trend, similar_countries_gdp_growth, stage_avg_gdp_growth, year_trend, year_trend_log, year_trend_squared

年份分布: 1990:5 | 1991:5 | 1992:5 | 1993:5 | 1994:5 | 1995:6 | 1996:6 | 1997:6 | 1998:6 | 1999:6 | 2000:6 | 2001:6 | 2002:6 | 2003:6 | 2004:6 | 2005:6 | 2006:6 | 2007:6 | 2008:6 | 2009:6 | 2010:6 | 2011:6 | 2012:6 | 2013:6 | 2014:6 | 2015:6 | 2016:6 | 2017:6 | 2018:6 | 2019:6 | 2020:6 | 2021:2 | 2022:2

外部国家测试集统计信息:
总数据条数: 185
国家总数: 6
包含的国家: Algeria, Australia, Germany, Pakistan, Portugal, United States

特征数量: 21
特征列表: MSW, MSW_log, development_stage, gdp_10y_ma, gdp_5y_ma, gdp_acceleration, gdp_growth_rate, gdp_per_capita_growth, gdp_per_capita_ma, gdp_per_capita_power, gdp_pop_interaction, gdp_pop_nonlinear, gdp_trend, pop_density_trend, pop_growth_rate, pop_trend, similar_countries_gdp_growth, stage_avg_gdp_growth, year_trend, year_trend_log, year_trend_squared

年份分布: 1990:5 | 1991:5 | 1992:5 | 1993:5 | 1994:5 | 1995:6 | 1996:6 | 1997:6 | 1998:6 | 1999:6 | 2000:6 | 2001:6 | 2002:6 | 2003:6 | 2004:6 | 2005:6 | 2006:6 | 2007:6 | 2008:6 | 2009:6 | 2010:6 | 2011:6 | 2012:6 | 2013:6 | 2014:6 | 2015:6 | 2016:6 | 2017:6 | 2018:6 | 2019:6 | 2020:6 | 2021:2 | 2022:2

外部时间测试集统计信息:
总数据条数: 213
国家总数: 57
包含的国家: Albania, Argentina, Austria, Bangladesh, Belgium, Bosnia and Herzegovina, Brazil, Bulgaria, Canada, China, Colombia, Congo, Dem. Rep., Croatia, Cyprus, Czechia, Denmark, Estonia, Ethiopia, Greece, Hungary, Iceland, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Italy, Japan, Korea, Rep., Latvia, Lithuania, Luxembourg, Malaysia, Malta, Mexico, Montenegro, Morocco, Netherlands, Nigeria, North Macedonia, Norway, Peru, Philippines, Poland, Romania, Russian Federation, Saudi Arabia, Serbia, Slovak Republic, Slovenia, South Africa, Spain, Sweden, Switzerland, Tanzania, Turkiye, Uganda, United Kingdom

特征数量: 21
特征列表: MSW, MSW_log, development_stage, gdp_10y_ma, gdp_5y_ma, gdp_acceleration, gdp_growth_rate, gdp_per_capita_growth, gdp_per_capita_ma, gdp_per_capita_power, gdp_pop_interaction, gdp_pop_nonlinear, gdp_trend, pop_density_trend, pop_growth_rate, pop_trend, similar_countries_gdp_growth, stage_avg_gdp_growth, year_trend, year_trend_log, year_trend_squared

年份分布: 2017:23 | 2018:27 | 2019:50 | 2020:52 | 2021:30 | 2022:31

合并，作为测试集统计信息:
总数据条数: 370
国家总数: 12
包含的国家: Algeria, Australia, Egypt, Arab Rep., Finland, France, Germany, India, Pakistan, Portugal, Thailand, Ukraine, United States

特征数量: 21
特征列表: MSW, MSW_log, development_stage, gdp_10y_ma, gdp_5y_ma, gdp_acceleration, gdp_growth_rate, gdp_per_capita_growth, gdp_per_capita_ma, gdp_per_capita_power, gdp_pop_interaction, gdp_pop_nonlinear, gdp_trend, pop_density_trend, pop_growth_rate, pop_trend, similar_countries_gdp_growth, stage_avg_gdp_growth, year_trend, year_trend_log, year_trend_squared

年份分布: 1990:10 | 1991:10 | 1992:10 | 1993:10 | 1994:10 | 1995:12 | 1996:12 | 1997:12 | 1998:12 | 1999:12 | 2000:12 | 2001:12 | 2002:12 | 2003:12 | 2004:12 | 2005:12 | 2006:12 | 2007:12 | 2008:12 | 2009:12 | 2010:12 | 2011:12 | 2012:12 | 2013:12 | 2014:12 | 2015:12 | 2016:12 | 2017:12 | 2018:12 | 2019:12 | 2020:12 | 2021:4 | 2022:4

In [3]:
train_data.to_csv(os.path.join(Config.PATH_CONFIG['data_dir'], 'train.csv'), index=False)
test_data.to_csv(os.path.join(Config.PATH_CONFIG['data_dir'], 'test.csv'), index=False)
time_test_data.to_csv(os.path.join(Config.PATH_CONFIG['data_dir'], 'time_test_data.csv'), index=False)

# 排除不需要的列
feature_cols = [col for col in train_data.columns 
                if col not in [Config.DATA_CONFIG['target_column'], 'Country Name', 'Year']]

train = train_data[feature_cols]
test = test_data[feature_cols]
time_test_data = time_test_data[feature_cols] 

target_column = Config.DATA_CONFIG['target_column']
method = Config.FEATURE_CONFIG['target_transform_method']
transformed_column = f'{target_column}_{method}'

In [4]:
# 训练模型
models = train_models(train,test,transformed_column)

In [5]:
# 调优
tune_models = tune(models)

当前调优模型: br , 结果如下:

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

当前调优模型: gbr , 结果如下:

当前调优模型: ridge , 结果如下:

当前调优模型: lightgbm , 结果如下:

[LightGBM] [Warning] feature_fraction is set=0.7548601542467179, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7548601542467179
[LightGBM] [Warning] bagging_fraction is set=0.7451949080123305, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7451949080123305
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4

[LightGBM] [Warning] feature_fraction is set=0.7548601542467179, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7548601542467179
[LightGBM] [Warning] bagging_fraction is set=0.7451949080123305, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7451949080123305
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
当前调优模型: xgboost , 结果如下:

当前调优模型: rf , 结果如下:

当前调优模型: ada , 结果如下:

当前调优模型: catboost , 结果如下:

当前调优模型: et , 结果如下:

当前调优模型: dt , 结果如下:

In [6]:
# 定义需要包含的模型简称集合
include_models = {'gbr', 'lightgbm','xgboost'}

# 生成过滤后的有序字典
model_dict = {
    k: v for k, v in tune_models.items()
    if k in include_models
}

In [7]:
# 集成
models = ensemble(model_dict)

[LightGBM] [Warning] feature_fraction is set=0.7548601542467179, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7548601542467179
[LightGBM] [Warning] bagging_fraction is set=0.7451949080123305, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7451949080123305
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4

In [8]:
save_model = save_models(models)

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Saved